# **Sesi 5: Pengolahan Data dengan Pandas**

## **Praktek: Memasukkan urutan data sederhana dengan Seriesâ€‹**

## Create Data Series Pandas from List

In [2]:
#import library pandas
import pandas as pd

#inisiasi list L
L = [1, 3, 6, 3]
L

[1, 3, 6, 3]

In [3]:
#masukkan list L ke dalam series S dan print isinya
S = pd.Series(L)
print(S)

0    1
1    3
2    6
3    3
dtype: int64

In [32]:
#masukkan list L ke dalam series S dengan predefined index
S1 = pd.Series(L, index=['ax0', 'gy9', 'sd3', 'a'])
print(S1)

a    1
b    3
c    6
a    3
dtype: int64

In [5]:
#Call elemen berdasarkan index default list dan predefined index
print(S1[0]) #indeks list default
print(S1.a) #predefined indeks

1
1

In [35]:
#menambahkan data Nan di pandas series
import numpy as np

data = pd.Series([7, 10, 15, np.nan, 20, 29, 34, np.nan])
data
#array = np.array([7,8,9])
#pd.Series(array)

0     7.0
1    10.0
2    15.0
3     NaN
4    20.0
5    29.0
6    34.0
7     NaN
dtype: float64

## Create DataFrame Pandas from Ndarray

In [8]:
#Create simple array integer convert to dataseries pandas
a = np.array([2, 4, 6, 8])

print("First element:", a[0])
print("Second element:", a[1])
print("Last element:", a[-1])

First element: 2
Second element: 4
Last element: 8

In [11]:
#Convert to Data Series Pandas
b = pd.Series(a)
b
b[0] = 7
b

0    7
1    4
2    6
3    8
dtype: int64

In [12]:
#len array harus sama
a = pd.DataFrame({'Product': ['A', 'B', 'C', 'D'], 'Sales': [157, 185, 164, 190]})
a

  Product  Sales
0       A    157
1       B    185
2       C    164
3       D    190

In [16]:
#Create dataframe dari Nested List yang sudah ada elemen berisikan header/nama kolom
df = [['Name','Rank','Complete'],
        ['one', 1, 1],
        ['two', 2, 1],
        ['three', 3, 1],
        ['four', 4, 1],
        ['five', 5, 1]]
print(df)
print(df[1:]) #ambil semua kolom di baris 1/start indeks 1
print(df[0]) #ambil data di indeks 0

[['Name', 'Rank', 'Complete'], ['one', 1, 1], ['two', 2, 1], ['three', 3, 1], ['four', 4, 1], ['five', 5, 1]]
[['one', 1, 1], ['two', 2, 1], ['three', 3, 1], ['four', 4, 1], ['five', 5, 1]]
['Name', 'Rank', 'Complete']

In [30]:
#pd.DataFrame(data = ...., index =...., columns =....)
df_data = pd.DataFrame(df[1:],columns=df[0])
df_data
print(df_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Rank      5 non-null      int64
 2   Complete  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None

In [27]:
df_data['Name'] == 'two'

0    False
1     True
2    False
3    False
4    False
Name: Name, dtype: bool

In [29]:
df_data2 = df_data.set_index("Name")
df_data2

       Rank  Complete
Name
one       1         1
two       2         1
three     3         1
four      4         1
five      5         1

In [31]:
#pd.DataFrame(data, index, columns)
import pandas as pd
data = [['Bayu',2], ['Sinta',14], ['Eko',20], ['Mita', 5]]
df1 = pd.DataFrame(data, columns=['Name','Age'], dtype=float)
print(df1)

    Name   Age
0   Bayu   2.0
1  Sinta  14.0
2    Eko  20.0
3   Mita   5.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df1.info()

## **Praktek: Memasukkan data master produk dengan DataFrameâ€‹**

In [37]:
#import library numpy dan pandas
import numpy as np 
import pandas as pd

In [55]:
#import file ms_produk dan cek isi file di baris 1-2
ms_produk = np.loadtxt('/content/drive/MyDrive/DQLab/Python Metaclass/ms_produk.txt', 
                       dtype='str', skiprows=1, delimiter='\t')
print(ms_produk)

[['prod-01' '1' 'Alat Tulis Kantor' 'Kotak Pensil DQLab' '62500']
 ['prod-02' '2' 'Aksesoris Komputer' 'Flashdisk DQLab 64 GB' '55000']
 ['prod-03' '3' 'Gift & Voucher' 'Gift Voucher DQLab 100rb' '100000']
 ['prod-04' '4' 'Aksesoris Komputer' 'Flashdisk DQLab 32 GB' '40000']
 ['prod-05' '5' 'Gift & Voucher' 'Gift Voucher DQLab 250rb' '250000']
 ['prod-06' '6' 'Alat Tulis Kantor' 'Pulpen Multifunction + Laser DQLab'
  '92500']
 ['prod-07' '7' 'Gift & Voucher' 'Tas Travel Organizer DigiSkills.id'
  '48000']
 ['prod-08' '8' 'Gift & Voucher' 'Gantungan Kunci DQLab' '15800']
 ['prod-09' '9' 'Alat Tulis Kantor' 'Buku Planner Agenda DQLab' '92000']
 ['prod-10' '10' 'Alat Tulis Kantor' 'Sticky Notes DQLab 500 sheets'
  '55000']]

In [48]:
#masukkan array ms_produk ke dataframe dengan predefined columns
ms_produk = pd.DataFrame(data=ms_produk, columns=['kode_produk','no_urut',
                         'kategori_produk','nama_produk','harga'])
#tampilkan 5 row teratas dari ms_produk
ms_produk.head()
ms_produk.info()
ms_produk['harga'].astype('int64')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kode_produk      10 non-null     object
 1   no_urut          10 non-null     object
 2   kategori_produk  10 non-null     object
 3   nama_produk      10 non-null     object
 4   harga            10 non-null     object
dtypes: object(5)
memory usage: 528.0+ bytes

0     62500
1     55000
2    100000
3     40000
4    250000
5     92500
6     48000
7     15800
8     92000
9     55000
Name: harga, dtype: int64

In [58]:
#masukkan array ms_produk ke dataframe dengan predefined columns
ms_produk = pd.DataFrame(data=ms_produk, index = ['a', 'b', 'c', 'd','e','f', 'g', 'h', 'i', 'j'], columns=['kode_produk','no_urut',
                         'kategori_produk','nama_produk','harga'])
#tampilkan 5 row teratas dari ms_produk
ms_produk

,kode_produk,no_urut,kategori_produk,nama_produk,harga
a,prod-01,1,Alat Tulis Kantor,Kotak Pensil DQLab,62500
b,prod-02,2,Aksesoris Komputer,Flashdisk DQLab 64 GB,55000
c,prod-03,3,Gift & Voucher,Gift Voucher DQLab 100rb,100000
d,prod-04,4,Aksesoris Komputer,Flashdisk DQLab 32 GB,40000
e,prod-05,5,Gift & Voucher,Gift Voucher DQLab 250rb,250000
f,prod-06,6,Alat Tulis Kantor,Pulpen Multifunction + Laser DQLab,92500
g,prod-07,7,Gift & Voucher,Tas Travel Organizer DigiSkills.id,48000
h,prod-08,8,Gift & Voucher,Gantungan Kunci DQLab,15800
i,prod-09,9,Alat Tulis Kantor,Buku Planner Agenda DQLab,92000
j,prod-10,10,Alat Tulis Kantor,Sticky Notes DQLab 500 sheets,55000

In [62]:
ms_produk.loc['g':'k']

,kode_produk,no_urut,kategori_produk,nama_produk,harga
g,prod-07,7,Gift & Voucher,Tas Travel Organizer DigiSkills.id,48000
h,prod-08,8,Gift & Voucher,Gantungan Kunci DQLab,15800
i,prod-09,9,Alat Tulis Kantor,Buku Planner Agenda DQLab,92000
j,prod-10,10,Alat Tulis Kantor,Sticky Notes DQLab 500 sheets,55000

## **Praktek: Melakukan pengurutan data harga produk pada DataFrameâ€‹**

In [42]:
#mengurutkan dataframe ms_produk berdasarkan harga
ms_produk.sort_values('harga')

,kode_produk,no_urut,kategori_produk,nama_produk,harga
2,prod-03,3,Gift & Voucher,Gift Voucher DQLab 100rb,100000
7,prod-08,8,Gift & Voucher,Gantungan Kunci DQLab,15800
4,prod-05,5,Gift & Voucher,Gift Voucher DQLab 250rb,250000
3,prod-04,4,Aksesoris Komputer,Flashdisk DQLab 32 GB,40000
6,prod-07,7,Gift & Voucher,Tas Travel Organizer DigiSkills.id,48000
1,prod-02,2,Aksesoris Komputer,Flashdisk DQLab 64 GB,55000
9,prod-10,10,Alat Tulis Kantor,Sticky Notes DQLab 500 sheets,55000
0,prod-01,1,Alat Tulis Kantor,Kotak Pensil DQLab,62500
8,prod-09,9,Alat Tulis Kantor,Buku Planner Agenda DQLab,92000
5,prod-06,6,Alat Tulis Kantor,Pulpen Multifunction + Laser DQLab,92500

In [ ]:
#mengurutkan dataframe ms_produk berdasarkan harga secara descending
ms_produk.sort_values('harga', ascending=False)

## **Praktek: Memilih dan memfilter data pada DataFrameâ€‹**

In [49]:
#menampilkan produk berdasarkan indeks, misal indeks ke 5-9 saja
ms_produk.loc[5:10]

,kode_produk,no_urut,kategori_produk,nama_produk,harga
5,prod-06,6,Alat Tulis Kantor,Pulpen Multifunction + Laser DQLab,92500
6,prod-07,7,Gift & Voucher,Tas Travel Organizer DigiSkills.id,48000
7,prod-08,8,Gift & Voucher,Gantungan Kunci DQLab,15800
8,prod-09,9,Alat Tulis Kantor,Buku Planner Agenda DQLab,92000
9,prod-10,10,Alat Tulis Kantor,Sticky Notes DQLab 500 sheets,55000

In [50]:
#menampilkan produk berdasarkan indeks, misal indeks ke 5-9 saja
ms_produk.iloc[5:10]

,kode_produk,no_urut,kategori_produk,nama_produk,harga
5,prod-06,6,Alat Tulis Kantor,Pulpen Multifunction + Laser DQLab,92500
6,prod-07,7,Gift & Voucher,Tas Travel Organizer DigiSkills.id,48000
7,prod-08,8,Gift & Voucher,Gantungan Kunci DQLab,15800
8,prod-09,9,Alat Tulis Kantor,Buku Planner Agenda DQLab,92000
9,prod-10,10,Alat Tulis Kantor,Sticky Notes DQLab 500 sheets,55000

In [51]:
#menampilkan produk dengan kategori_produk "Alat Tulis Kantor" saja
ms_produk[ms_produk['kategori_produk']=='Alat Tulis Kantor']

,kode_produk,no_urut,kategori_produk,nama_produk,harga
0,prod-01,1,Alat Tulis Kantor,Kotak Pensil DQLab,62500
5,prod-06,6,Alat Tulis Kantor,Pulpen Multifunction + Laser DQLab,92500
8,prod-09,9,Alat Tulis Kantor,Buku Planner Agenda DQLab,92000
9,prod-10,10,Alat Tulis Kantor,Sticky Notes DQLab 500 sheets,55000

In [52]:
#menampilkan informasi data berdasarkan kolom yang di set sebagai indeks
#set column kode_produk sebagai indeks
ms_produk.set_index("nama_produk", inplace=True)
ms_produk.head()

                         kode_produk no_urut     kategori_produk   harga
nama_produk
Kotak Pensil DQLab           prod-01       1   Alat Tulis Kantor   62500
Flashdisk DQLab 64 GB        prod-02       2  Aksesoris Komputer   55000
Gift Voucher DQLab 100rb     prod-03       3      Gift & Voucher  100000
Flashdisk DQLab 32 GB        prod-04       4  Aksesoris Komputer   40000
Gift Voucher DQLab 250rb     prod-05       5      Gift & Voucher  250000

In [53]:
#menampilkan informasi detail produk berdasarkan nama_produk yang dijadikan sebagai indeks
ms_produk.loc['Flashdisk DQLab 32 GB']

kode_produk                   prod-04
no_urut                             4
kategori_produk    Aksesoris Komputer
harga                           40000
Name: Flashdisk DQLab 32 GB, dtype: object

In [54]:
#menampilkan informasi detail produk berdasarkan nama_produk yang dijadikan sebagai indeks
ms_produk.loc[['Flashdisk DQLab 32 GB', 'Gift Voucher DQLab 250rb']]

                         kode_produk no_urut     kategori_produk   harga
nama_produk
Flashdisk DQLab 32 GB        prod-04       4  Aksesoris Komputer   40000
Gift Voucher DQLab 250rb     prod-05       5      Gift & Voucher  250000